@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#FF4C4C, #8338EC);
  height: 100vh;
  overflow: hidden;
}
.center{/*caixa branca do fundo*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: #fff;
  border-radius: 50px;
}
.center h1{/*titulo(recuperar senha)*/
  text-align: center;
  padding: 20px 0;
  background-color: #8338EC;
  margin: 15px 105px 15px;
  border-radius: 50px;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .campo-texto{
  position: relative;
  background-color: #ecf0f1;
  border: 0px solid;
  border-radius: 10px;
  margin: 20px 0;
}
.campo-texto input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 0px;
  background: #081732;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.link-login{/*link para voltar para login*/
  color: #081732;
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.link-login a{
  text-decoration: none;
}
.link-login a:hover{
  text-decoration: underline;
}
/*Animação Botão Trocar Senha*/
.btn-trocar-senha{
  background-color: #081732;
  border: 1px solid #081732;
  transition: background-color 1s;
}
.btn-trocar-senha:hover{
  background-color: #fff;
  border: 1px solid #081732;
  color: #081732;
}/*Fim animação*/