/*==========PAGE============*/

.pageTitle {
    font-size: 3rem;
}

.main {
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.main-content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*==========================*/


/*=========LIST==========*/

.list {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
}

.listTitle {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-bottom: 20px;
}

.menuList {
    margin: 20px 20px 0 0;
    font-size: 2rem;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menuList:hover {
    background-color: #00000012;
}

.add-list-button{
    width: 300px;
    height: 300px;
    background-color: #AAA;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-list-button i{
    font-size: 10rem;
}
.add-list-button:hover{
    background-color: #CCC;
    color: #444;
    cursor: pointer;
}
/*========================*/
