/*==========PAGE============*/

.pageTitle {
    font-size: 3rem;
}

.main {
    display: grid;
    grid-template-rows: 1fr 10fr;
}


/*==========================*/


/*=========LIST==========*/

.list {
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 300px;
    max-height: 300px;
    background-color: var(--shallow-purple);
    border-radius: 20px;
}

.listTitle {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-bottom: 20px;
}

.menuList {
    margin: 20px 20px 0 0;
    font-size: 2rem;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menuList:hover {
    background-color: #00000012;
}


/*========================*/

/* Cadastro Login*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}



/*Área toda do conteudo de Login*/
.conteudo{
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before{
    content: "";
    position: absolute;
    background-color: #081732;
    width: 40%;
    height: 100%;
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0%;
}
.conteudo_1{
    display: flex;
}
/*Títulos*/
.tittle{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.tittle-primary{
    color: #fff;
}
.tittle-second{
    color: #081732;
}
/*Descrição*/
.description{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.description-primary{
    color: #fff;
    margin-top: 5px;
}
.description-second{
    color: #7f8c8d;
}
/*Botões e Funções do Botões*/
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border: none;
    margin-top: 5px;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 1s;
}
.btn-primary:hover{
    background-color: #fff;
    color: #081732;
}
.btn-second{
    background-color: #081732;
    border: 1px solid #081732;
    transition: background-color 1s;
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid #081732;
    color: #081732;
}
/*Seções colunas*/
.conteudo_1 .coluna_2{
    z-index: 11;
}
.coluna_1{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.coluna_2{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Mídias Sociais*/
.social-media{
    margin: 1rem 0;
}
.link-social-media .item-social-media{
    transition: background-color 1s;
}
.link-social-media:hover .item-social-media{
    background-color: #081732;
    color: #fff;
    border-color: #081732;
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.item-social-media{
    color: #081732;
}
/*Formulário*/
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
/*Ícones*/
.icon-modify{
    padding: 0 8px;
}
.icon-modify:hover{
    font-size: larger;
}
/*Conteúdo 2*/
.conteudo_2{
    position: absolute;
    display: flex;
}
.conteudo_2 .coluna_1{
    order: 2;
    z-index: -1;
}
.conteudo_2 .coluna_2{
    order: 1;
    z-index: -1;
}
.password{
    color: #081732;;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

/*Transição*/
.sign-in-js .conteudo_1 .coluna_1{
    z-index: -1;
}

.sign-in-js .conteudo_2 .coluna_2{
    z-index: 11;
}
.sign-in-js .conteudo_2 .coluna_1{
    z-index: 13;
}

.sign-in-js .conteudo::before{
    left: 60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 3s;
    
    z-index: 12;
}

.sign-up-js .conteudo::before{
    animation: slideout 3s;

    z-index: 12;
}

.sign-up-js .conteudo_2 .coluna_1,
.sign-up-js .conteudo_2 .coluna_2{
    z-index: -1;
}


.sign-up-js .conteudo_1 .coluna_2{
    z-index: 11;
}
.sign-up-js .conteudo_1 .coluna_1{
    z-index: 13;
}
/*Deslocamento do conteudo atras do content:before*/
.sign-in-js .conteudo_1 .coluna_2{
    z-index: -1;
    position: relative;
    animation: deslocamentoLeft 3s;
}

.sign-up-js .conteudo_2 .coluna_2{
    position: relative;
    z-index: -1;
    animation: deslocamentoRight 3s;
}

/*Animação CSS para o Conteúdo!*/

@keyframes deslocamentoLeft {
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left: -60px;
        opacity: .5;
    }

    50%{
        left: -100px;
        opacity: .2;
    }

    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
    
}

@keyframes deslocamentoRight {
    from{
        left: 0px;
        z-index: 12;
        opacity: 1;
    }

    25%{
        left: 60px;
        opacity: .5;
    }

    50%{
        left: 100px;
        opacity: .2;
    }

    to{
        left: 110;
        opacity: 0;
        z-index: -1;
    }
    
}

/*Animação CSS*/
@keyframes slidein {
    from{
        left: 0;
        width: 40%;
    }

    25%{
        left: 5%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 55%;
    }

    75%{
        left: 50%;
        width: 50%;
    }

    to{
        left: 60%;
        width: 40%;
    }
    
}

@keyframes slideout {
    from{
        left: 60%;
        width: 40%;
    }

    25%{
        left: 50%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 55%;
    }

    75%{
        left: 5%;
        width: 50%;
    }

    to{
        left: 0;
        width: 40%;
    }
    
}